################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/bin/Debug
*.cache
*.cache
GUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.ide-shm
*.ide-wal
*.ide-wal
